torch
torchvision
torchaudio
torchcrepe
ffmpeg-python
pyworld
scipy
SoundFile==0.12.1
tqdm
rich
loguru
scikit-maad
praat-parselmouth
fairseq==0.12.2
transformers
edge_tts
langdetect
pyyaml
pynvml
faiss-cpu
einops
local_attention
